<% @post.comments.each do |comment| %>

  <p class="comment-header">
    <%= comment.user.name %>
  </p>
  <p>
    <%= time_ago_in_words(comment.created_at) %>Ago
  </p>
  <p>
    <%= comment.body %>
  </p>

<% end %>
